@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  text-align: center;
}

.navbar{
  display: flex;
  background-color: #B9A0D3;
  list-style: none;
  padding: 30px 30px 30px 550px;
  max-width: 100%;
  font-size: large;
  font-weight: bold;
  color:black;
  justify-content: space-between;
  font-family: "Quicksand", sans serif;


}
.navbar a{
  text-decoration: none;
  color:white;
  

}
.Headshot {
  
  width: 200px;
  height : 200px;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow:  0 0 15px rgba(0, 0, 0, 0.2);

}

.container {
  height:80vh;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: white;
  

}

.intro-container {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.introtext {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: large;
  white-space: pre-wrap;
  overflow: hidden;
  line-height: 1.6;
  color: black;
}

.container2 {
    display: flex;
    justify-content: center;    /* Horizontally center the box */
    align-items: center;        /* Vertically center the box */
    height: 25vh;              /* Full height of the screen */
    margin: 0;                 /* Remove default margin */
  }

.skillbuttons { 
    width: 800px;                /* Set the width of the box */
    height: 150px;                /* Set the width of the box */
    justify-content: center;    /* Horizontally center the box */
    align-items: center;  /* Padding inside the box */ /* Border color and thickness */
    border-radius: 13px;        /* Rounded corners for the box */
    background-color: #E6F7FF;  /* Light blue background color */
    text-align: center;         /* Center the text inside the box */
  }
.skillsheading {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  color: #B9A0D3;
}
.skillbuttons p {
  background-color: #D1E6FF;  /* Background color for each item */
  padding: 5px 15px;           /* Padding inside each item */
  margin: 5px;                 /* Spacing between items */
  border-radius: 5px;          /* Rounded corners for each item */
  display: inline-block;

  
}


  
  

